body{
  background-color: hsl(235, 21%, 11%);
  color: white;
}

body.dark{
  background-color: hsl(233, 11%, 84%) !important;
}



header{
  background-image: url(./assets/images/bg-desktop-light.jpg);
  height: 400px;
  width: 100%;
}

header.dark{
  background-image: url(./assets/images/bg-desktop-dark.jpg);
  height: 400px;
  width: 100%;
}

* {
  outline: none;
}

#inputText{
  border-radius: 5px;
  -webkit-box-shadow: 1px 13px 45px 13px rgba(0,0,0,0.52);
  -moz-box-shadow: 1px 13px 45px 13px rgba(0,0,0,0.52);
  box-shadow: 1px 13px 45px 13px rgba(0,0,0,0.52);
}

header.dark form input{
  background-color: hsl(236, 33%, 92%) !important;
}

header.dark form input::placeholder{
  color: black !important;
}

header.dark form input{
  color: black !important;
}

#inputText:focus{
  -webkit-box-shadow: 1px 13px 45px 13px rgba(255,255,255,0.01);
-moz-box-shadow: 1px 13px 45px 13px rgba(255,255,255,0.01);
box-shadow: 1px 13px 45px 13px rgba(255,255,255,0.01);
}


#inputText{
  background:  hsl(235, 24%, 19%) url('./assets/images/icon-check-circle.svg') no-repeat 1% 50%;
  background-size: 32px;

}